body {
    background-color: rgb(35, 39, 39);
    color:white;
}

.header {
    text-align: center;
    background-color: teal;
    color: white;
    padding: 60px;
    font-family: sans-serif;
}

.button {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333333;
}

.button li {
    float:left;
}

.button li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px 80px;
    display: block; 
    background-color: #333333;
}

.button li a:hover {
    background-color: rgb(59, 59, 59);
}

.button li a:active {
    background-color: rgb(85, 85, 85);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

.left {
    padding: 30px;
    width: 25%;
    background-color: #1f1f1f;
}

.right {
    width: 75%;
    background-color: rgb(19, 19, 19);
    padding: 30px;
}

.footer {
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 20px;
    font-family: sans-serif;
}