body {
    margin: 0;
}

header {
    background-image: url("images/main-background.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCard {
    background-color: rgba(25, 27, 28, 0.8);
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px 5px;
    border-radius: 5px;
}

#pfp {
    border-radius: 50%;
    max-width: 200px;
}

#mainCard {
    h2 {
        font: normal 1.3em 'Raleway', sans-serif;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin-top: 35px;
        margin-bottom: 0;
    }

    .icon {
        max-width: 50px;
        max-height: 50px;
        transition: transform .3s ease;
    }

    ul span {
        display: block;
        opacity: 0;
        transition: opacity .3s ease;
    }

    li:hover span {
        opacity: 1;
    }

    li:hover .icon {
        transform: translateY(-5px);
    }

    @media screen and (max-width: 600px) {
        

        ul {
          flex-wrap: wrap;
          align-content: space-between;
        }
        ul a {
            flex: 1 0 50%;
            margin-bottom: 10px;
        }
      }    
      
      @media screen and (max-width: 370px) {
        #pfp {
            max-width: 70%;
        }

        h1 {
            font-size: 8vw;
        }
        h2 {
            font-size: 5vw;
        }
      }
}