body {
    margin: 0;
}

header {
    background-image: url("images/main-background.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCard {
    background-color: rgba(25, 27, 28, 0.8);
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px 5px;
    border-radius: 5px;
}

#pfp {
    border-radius: 50%;
    max-height: 200px;
}

#mainCard h2 {
    font: normal 1.3em 'Raleway', sans-serif;
    color: cadetblue;
}

#mainCard ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 0;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    transition: transform .3s ease;
}

#mainCard ul span {
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
}

#mainCard li:hover span {
    opacity: 1;
}

#mainCard li:hover .icon {
    transform: translateY(-5px);
}

@media screen and (max-width: 600px) {
    #mainCard ul {
        flex-wrap: wrap;
        align-content: space-between;
    }

    #mainCard ul a {
        flex: 1 0 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 370px) {
    #pfp {
        max-width: 70%;
    }

    #mainCard h1 {
        font-size: 8vw;
    }

    #mainCard h2 {
        font-size: 5vw;
    }
}

@media screen and (max-height: 600px) {
    #mainCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #content {
        flex: 1;
    }

    #pfp {
        height: 40vh;
    }

    #mainCard h1 {
        font-size: 8vh;
    }

    #mainCard h2 {
        font-size: 5vh;
    }

    #mainCard ul {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;
        margin-top: 0;
        font-size: 3.5vh;
    }

    #mainCard ul a {
        flex: 1 1 20vh !important;
    }

    .icon {
        max-width: 13vh;
        max-height: 13vh;
    }

}

@keyframes tech-pop-in-out {
    0% {
        transform: scale(0) translateY(10px);
        opacity: 0;
    }
    10% {
        transform: scale(1.1) translateY(-3px);
        opacity: 1;
    }
    20% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    80% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0); 
        opacity: 0;
    }
}

#techs {
    animation: tech-pop-in-out 4s ease-in-out infinite 1s both;
    transform-origin: center;
    display: inline-block;
}
